.topBar {
    position: sticky;
    top: 0;
    right: 0;
    width: 85vw;
    background: $white;
    height: 12.5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em 0 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);

    .titleText {
        font-size: 2rem;
        font-weight: 800;
    }

    .userContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-right: 1.5em;

        .userIcon {
            aspect-ratio: 1/1;
            width: 4.5em;
            display: grid;
            place-items: center;

            .userInfoContainer {
                position: absolute;
                top: 100%;

                .userInfo {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    background: $white;
                    box-shadow: 0 5px 8px 2px rgba(0, 0, 0, 0.3);
                    border-radius: 1em;
                    padding: 2em 1em;
                    text-align: center;
                    min-width: 15em;
                    overflow: hidden;

                    .nameText {
                        font-size: 1.5rem;
                        font-weight: 500;
                        letter-spacing: 2px;
                    }

                    .lineSeparator {
                        width: 50%;
                        border: 1px solid $green;
                        margin: 1em 0;
                        opacity: .75;
                    }

                    .infoText {
                        font-weight: 200;
                    }

                    .userGroups {
                        list-style-type: none;
                        line-height: 1.5em;

                        li::before {
                            content: "\2022";
                            color: $green;
                            display: inline-block;
                            width: 1em;
                            margin-left: -1em;
                          }
                    }
                }
            }

            .shown {
                visibility: visible;
                max-height: 500px;
                transition: 
                    visibility 150ms linear,
                    max-height 250ms ease;
            }
            
            .hidden {
                visibility: hidden;
                max-height: 0;
                transition: 
                    visibility 150ms linear,
                    max-height 250ms ease;
            }
        }


        .showInfoButton {
            margin-left: -1em;
            border-radius: 50%;
            display: grid;
            place-items: center;
            transform: scale(.5);
            padding: .5em;
            cursor: pointer;
            background: transparent;
            transition: 
                background 150ms ease,
                rotate 175ms ease;


            &:hover {
                background: $hover-color2;
            }

            &:active {
                background: $click-color2;
            }
        }

        .open {
            rotate: -180deg;
        }

        .close {
            rotate: 0deg;
        }

    }

}