.register {
    display: flex;
    min-height: 100vh;

    .loginSection {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex: 40% 1 1;
        background: $whiteish;

        .loginTitle {
            padding: 1em;
            display: grid;
            place-items: center;

            .titleText {
                font-size: 3.5rem;
                font-weight: 700;
                text-align: center;
                color: $black;
            }
        }

        .loginText {
            .paragraphText {
                font-size: 1.25rem;
                letter-spacing: 3px;
                max-width: 17.5em;
                text-align: center;
                line-height: 1.75em;
                color: $green;
            }
        }
        
        .loginButtonContainer {
            display: grid;
            place-items: center;

            #loginButton {
                color: $whiteish;
                background: $green;
                font-size: 1.15rem;
                font-weight: 500;
                border: none;
                padding: .25em .5em;
                border-radius: 20em;
                width: 10em;
                height: 2.5em;
                cursor: pointer;
                box-shadow: 4px 4px 21px -12px rgba(66, 68, 90, 1);
                transition: all 100ms ease;
                -o-transition: all 100ms ease;
                -ms-transition: all 100ms ease;
                -moz-transition: all 100ms ease;
                -webkit-transition: all 100ms ease;

                &:hover {
                    transform: scale(1.1);
                    -o-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                    -moz-transform: scale(1.1);
                    -webkit-transform: scale(1.1); 
                    box-shadow: 8px 8px 21px -12px rgba(66, 68, 90, 1);
                }
    
                &:focus {
                    outline: none;
                    box-shadow: 8px 8px 21px -12px rgba(66, 68, 90, 1);
                }
            }

            #loginButton:active {
                box-shadow: inset 8px 8px 21px -12px rgba(66, 68, 90, 1);
            }
        }
    }

    .registerSection {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex: 60% 1 1;
        background: $green;

        .registerTitle {
            padding: 2em;
            display: grid;
            place-items: center;

            .titleText {
                font-size: 3.5rem;
                font-weight: 700;
                text-align: center;
                color: $whiteish;
            }
        }

        .registerSubtitle {
            padding: .5em;
            text-align: center;

            .subtitleText {
                font-size: 1rem;
                color: $whiteish;
                opacity: .65;
            }
        }

        .line {
            width: 35%;
            border: 1px solid $whiteish;
            opacity: .15;
        }

        .registerForm {
            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                .inputField {
                    font-family: $font-stack;
                    position: relative;
                    padding: .25em .5em;
                    padding-left: 1.75em;
                    height: 3.5em;
                    width: 25em;
                    border-radius: 1.5em;
                    border: none;
                    background: rgb(75 190 167 / .15);
                    font-size: 1rem;
                    font-weight: 500;
                    color: $white;

                    &::placeholder {
                        position: absolute;
                        font-weight: 500;
                        font-size: 1rem;
                        left: 1.75em;
                        color: $whiteish;
                        opacity: .75;
                    }

                    &::-moz-placeholder {
                        position: absolute;
                        font-weight: 500;
                        font-size: 1rem;
                        left: 1.75em;
                        color: $whiteish;
                        opacity: .75;
                    }

                    &::-webkit-input-placeholder {
                        position: absolute;
                        font-weight: 500;
                        font-size: 1rem;
                        left: 1.75em;
                        color: $whiteish;
                        opacity: .75;
                    }
                }

                .inputAnimation {
                    box-shadow: 4px 4px 21px -12px rgba(66, 68, 90, 1);
                    transition: all 100ms ease;
                    -o-transition: all 100ms ease;
                    -ms-transition: all 100ms ease;
                    -moz-transition: all 100ms ease;
                    -webkit-transition: all 100ms ease;

                    &:hover {
                        box-shadow: 8px 8px 21px -12px rgba(66, 68, 90, 1);
                    }

                    &:focus {
                        outline: none;
                        box-shadow: 8px 8px 21px -12px rgba(66, 68, 90, 1);
                    }
                }

                .invalidField,
                .invalidField:hover,
                .invalidField:focus {
                    box-shadow: 0 0 15px 2px #C54B4B;
                    color: #C54B4B;
                }

                .username {
                    padding-top: 2em;
                }

                .inputSmallWrapper {
                    display: flex;

                    .inputSmallLeft {
                        margin-left: 1em;
                    }

                    .inputSmall {
                        width: 12em;
                    }
                }
                
                .createAccountContainer {
                    padding: 2em;
                    display: grid;
                    place-items: center;
        
                    #createAccountButton {
                        color: $black;
                        background: $whiteish;
                        font-size: 1.15rem;
                        font-weight: 500;
                        border: none;
                        padding: .25em .5em;
                        border-radius: 20em;
                        width: 10em;
                        height: 2.5em;
                        cursor: pointer;
                        box-shadow: 4px 4px 21px -12px rgba(66, 68, 90, 1);
                        transition: all 100ms ease;
                        -o-transition: all 100ms ease;
                        -ms-transition: all 100ms ease;
                        -moz-transition: all 100ms ease;
                        -webkit-transition: all 100ms ease;
        
                        &:hover {
                            transform: scale(1.1);
                            -o-transform: scale(1.1);
                            -ms-transform: scale(1.1);
                            -moz-transform: scale(1.1);
                            -webkit-transform: scale(1.1); 
                            box-shadow: 8px 8px 21px -12px rgba(66, 68, 90, 1);
                        }

                        &:focus {
                            outline: none;
                            box-shadow: 8px 8px 21px -12px rgba(66, 68, 90, 1);
                        }
                    }

                    #createAccountButton:active {
                        box-shadow: inset 8px 8px 21px -12px rgba(66, 68, 90, 1);
                    }
                }
            }
        }
    }
}